## **Title Name : ÌåêÎã§Ïä§ Î¨∏Ï†úÌíÄÏù¥**

<p style="font-weight:bolder; font-size : 21px">
    Step : Day1
<p>
<p style="font-weight:bolder; font-size : 21px">
    Content : Ïª§Ïä§ÌÖÄ Î¨∏Ï†úÌíÄÏù¥
<p>
<p style="font-weight:bolder; font-size : 21px">
   RegDate : 2023.11.25
<p>

------------------------------------------------------------


<h2 style="font-weight:bolder; font-size : 25px">
Î¨∏Ï†úÌíÄÏù¥ : 
Q0 ~ Q19
<h2>

------------------------------------------------------

# 01. ÌôòÍ≤ΩÏÑ§Ï†ï
---------------------------------------------

In [ ]:
# ÏãúÏä§ÌÖú
import os
import sys
import random
from time import time

# Îç∞Ïù¥ÌÑ∞Î∂ÑÏÑù 4Ï¢ÖÏÑ∏Ìä∏
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# ÏãúÍ∞ÅÌôîÌÖåÎßà
sns.set_theme(style='whitegrid')
plt.style.use('dark_background')

In [22]:
# ÎãµÏïà Ï¥àÍ∏∞Ìôî
Q0 = 0

# 02. Î¨∏Ï†úÌíÄÏù¥
------------------------------------------

### üîπ Ï∞∏Í≥† ÏÇ¨Ïù¥Ìä∏ ÎßÅÌÅ¨
------------------------------------------
[Ï∞∏Í≥† ÏÇ¨Ïù¥Ìä∏ : ÌåêÎã§Ïä§ Ïó∞Ïäµ ÌäúÌÜ†Î¶¨Ïñº](https://www.datamanim.com/dataset/99_pandas/pandasMain.html)

In [42]:
"""-------------------------------------------------------------------------------------------------------------------------------------------------------------------
üü® Îç∞Ïù¥ÌÑ∞ÏÖã URL Ï†ïÎ≥¥

+ Q1~Q8     :
- info :Î°§ Îû≠ÌÇπ Îç∞Ïù¥ÌÑ∞ : https://www.kaggle.com/datasnaek/league-of-legends
‚ñ∂ url :
'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'

+ Q9~Q19    : 
- info : Ï†úÏ£º ÎÇ†Ïî®,Ïù∏Íµ¨Ïóê Îî∞Î•∏ ÍµêÌÜµÎüâÎç∞Ïù¥ÌÑ∞ : Ï∂úÏ≤ò Ï†úÏ£º Îç∞Ïù¥ÌÑ∞ ÌóàÎ∏å
‚ñ∂ url : 
'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'

-------------------------------------------------------------------------------------------------------------------------------------------------------------------"""

"-------------------------------------------------------------------------------------------------------------------------------------------------------------------\nüü® Îç∞Ïù¥ÌÑ∞ÏÖã URL Ï†ïÎ≥¥\n\n+ Q1~Q8     :\n- info :Î°§ Îû≠ÌÇπ Îç∞Ïù¥ÌÑ∞ : https://www.kaggle.com/datasnaek/league-of-legends\n‚ñ∂ url :\n'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'\n\n+ Q9~Q99    : \n- info : Ï†úÏ£º ÎÇ†Ïî®,Ïù∏Íµ¨Ïóê Îî∞Î•∏ ÍµêÌÜµÎüâÎç∞Ïù¥ÌÑ∞ : Ï∂úÏ≤ò Ï†úÏ£º Îç∞Ïù¥ÌÑ∞ ÌóàÎ∏å\n‚ñ∂ url : \n'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'\n\n-------------------------------------------------------------------------------------------------------------------------------------------------------------------"

#### 01 Getting & Knowing Data
-----------------------------------------------------

In [1]:
# Q0. pdÎ°ú ÌåêÎã§Ïä§ Î∂àÎü¨Ïò§Í∏∞
#-------------------------------------
import pandas as pd

In [23]:
# Q1. Îç∞Ïù¥ÌÑ∞ Î°úÎìú
#     Îç∞Ïù¥ÌÑ∞Îäî \tÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Íµ¨Î∂Ñ
#-------------------------------------
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv', sep='\t')
Q1 = df
Q1

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

In [24]:
# Q2. Îç∞Ïù¥ÌÑ∞Ïùò ÏÉÅÏúÑ 5Í∞ú ÌñâÏùÑ Ï∂úÎ†•
#-------------------------------------
Q2 = df.head(5)
Q2

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [15]:
# Q3. Îç∞Ïù¥ÌÑ∞Ïùò ÌñâÍ≥º Ïó¥Ïùò Í∞ØÏàòÎ•º ÌååÏïÖ
#-------------------------------------

# 1Î≤àÎ∞©Î≤ï : sizeÍ≥ÑÏÇ∞
print(f'ÌñâÏùòÍ∞ØÏàò : {df.size}Í∞ú')
print(f'Ïó¥ÏùòÍ∞ØÏàò : {df.columns.size}Í∞ú')
print('-'*50)

# 2Î≤àÎ∞©Î≤ï : shapeÍ≥ÑÏÇ∞
print(f'ÌñâÏùòÍ∞ØÏàò : {df.shape[0]}Í∞ú')
print(f'Ïó¥ÏùòÍ∞ØÏàò : {df.shape[1]}Í∞ú')
print('-'*50)

ÌñâÏùòÍ∞ØÏàò : 3140890Í∞ú
Ïó¥ÏùòÍ∞ØÏàò : 61Í∞ú
--------------------------------------------------
ÌñâÏùòÍ∞ØÏàò : 51490Í∞ú
Ïó¥ÏùòÍ∞ØÏàò : 61Í∞ú
--------------------------------------------------

In [25]:
# Q4. Ï†ÑÏ≤¥Ïª¨ÎüºÏùÑ Ï∂úÎ†•
#-------------------------------------
Q4 = df.columns
Q4

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [30]:
# Q5. 6Î≤àÏß∏ Ïª¨ÎüºÎ™ÖÏùÑ Ï∂úÎ†•
#-------------------------------------
Q5 = df.columns[5]
Q5

'firstBlood'

In [34]:
# Q6. 6Î≤àÏß∏ Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏùÑ ÌôïÏù∏
#-------------------------------------
Q6 = df.iloc[5].dtype
Q6

dtype('int64')

In [36]:
# Q7. Îç∞Ïù¥ÌÑ∞ Ïù∏Îç±Ïä§ Íµ¨ÏÑ± ÌôïÏù∏
#-------------------------------------
Q7  = df.index
Q7

RangeIndex(start=0, stop=51490, step=1)

In [39]:
# Q8. 6Î≤àÏß∏ Ïª¨ÎüºÏùò 3Î≤àÏß∏ Í∞íÏùÑ Íµ¨ÌïòÍ∏∞
#-------------------------------------
Q8 = df.iloc[2,5]
Q8

2

In [49]:
# Q9. Îç∞Ïù¥ÌÑ∞Î•º Î°úÎìú(ÌïúÍ∏Ä Ïù∏ÏΩîÎî©)
#-------------------------------------
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv',encoding='EUC-KR')
Q9 = df
Q9

,id,ÏùºÏûê,ÏãúÎèÑÎ™Ö,ÏùçÎ©¥ÎèôÎ™Ö,Í±∞Ï£ºÏù∏Íµ¨,Í∑ºÎ¨¥Ïù∏Íµ¨,Î∞©Î¨∏Ïù∏Íµ¨,Ï¥ù Ïú†ÎèôÏù∏Íµ¨,ÌèâÍ∑† ÏÜçÎèÑ,ÌèâÍ∑† ÏÜåÏöî ÏãúÍ∞Ñ,ÌèâÍ∑† Í∏∞Ïò®,ÏùºÍ∞ïÏàòÎüâ,ÌèâÍ∑† ÌíçÏÜç
0,22448,2018-01-01,Ï†úÏ£ºÏãú,ÎèÑÎëêÎèô,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,22449,2018-01-01,Ï†úÏ£ºÏãú,Ïô∏ÎèÑÎèô,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,22450,2018-01-01,Ï†úÏ£ºÏãú,Ïù¥ÎèÑ2Îèô,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,22451,2018-01-01,Ï†úÏ£ºÏãú,ÏùºÎèÑ1Îèô,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,22452,2018-01-01,ÏÑúÍ∑ÄÌè¨Ïãú,ÎåÄÏ≤úÎèô,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,32064,2020-04-30,ÏÑúÍ∑ÄÌè¨Ïãú,ÌëúÏÑ†Î©¥,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,Ï†úÏ£ºÏãú,ÌïúÎ¶ºÏùç,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,Ï†úÏ£ºÏãú,ÎèÑÎëêÎèô,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,ÏÑúÍ∑ÄÌè¨Ïãú,ÏïàÎçïÎ©¥,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,Ï†úÏ£ºÏãú,Ïó∞Îèô,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

In [50]:
# Q10. Îç∞Ïù¥ÌÑ∞ ÎßàÏßÄÎßâ 3Í∞úÌñâÏùÑ Ï∂úÎ†•
#-------------------------------------
Q10 = df.tail(3)
Q10

,id,ÏùºÏûê,ÏãúÎèÑÎ™Ö,ÏùçÎ©¥ÎèôÎ™Ö,Í±∞Ï£ºÏù∏Íµ¨,Í∑ºÎ¨¥Ïù∏Íµ¨,Î∞©Î¨∏Ïù∏Íµ¨,Ï¥ù Ïú†ÎèôÏù∏Íµ¨,ÌèâÍ∑† ÏÜçÎèÑ,ÌèâÍ∑† ÏÜåÏöî ÏãúÍ∞Ñ,ÌèâÍ∑† Í∏∞Ïò®,ÏùºÍ∞ïÏàòÎüâ,ÌèâÍ∑† ÌíçÏÜç
9618,32066,2020-04-30,Ï†úÏ£ºÏãú,ÎèÑÎëêÎèô,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,ÏÑúÍ∑ÄÌè¨Ïãú,ÏïàÎçïÎ©¥,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,Ï†úÏ£ºÏãú,Ïó∞Îèô,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   ÏùºÏûê        9621 non-null   object
 2   ÏãúÎèÑÎ™Ö       9621 non-null   object
 3   ÏùçÎ©¥ÎèôÎ™Ö      9621 non-null   object
 4   Í±∞Ï£ºÏù∏Íµ¨      9621 non-null   float64
 5   Í∑ºÎ¨¥Ïù∏Íµ¨      9621 non-null   float64
 6   Î∞©Î¨∏Ïù∏Íµ¨      9621 non-null   float64
 7   Ï¥ù Ïú†ÎèôÏù∏Íµ¨    9621 non-null   float64
 8   ÌèâÍ∑† ÏÜçÎèÑ     9621 non-null   float64
 9   ÌèâÍ∑† ÏÜåÏöî ÏãúÍ∞Ñ  9621 non-null   float64
 10  ÌèâÍ∑† Í∏∞Ïò®     9621 non-null   float64
 11  ÏùºÍ∞ïÏàòÎüâ      9621 non-null   float64
 12  ÌèâÍ∑† ÌíçÏÜç     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [63]:
# Q11. ÏàòÏπòÌòï Î≥ÄÏàòÎ•º Í∞ÄÏßÑ Ïª¨ÎüºÏùÑ Ï∂úÎ†•
#-------------------------------------
Q11 = df.select_dtypes(include='number').columns
# Q11 = df.select_dtypes(exclude='object').columns
Q11

Index(['id', 'Í±∞Ï£ºÏù∏Íµ¨', 'Í∑ºÎ¨¥Ïù∏Íµ¨', 'Î∞©Î¨∏Ïù∏Íµ¨', 'Ï¥ù Ïú†ÎèôÏù∏Íµ¨', 'ÌèâÍ∑† ÏÜçÎèÑ', 'ÌèâÍ∑† ÏÜåÏöî ÏãúÍ∞Ñ', 'ÌèâÍ∑† Í∏∞Ïò®',
       'ÏùºÍ∞ïÏàòÎüâ', 'ÌèâÍ∑† ÌíçÏÜç'],
      dtype='object')

In [65]:
# Q12. Î≤îÏ£ºÌòï Î≥ÄÏàòÎ•º Í∞ÄÏßÑ Ïª¨ÎüºÏùÑ Ï∂úÎ†•
#-------------------------------------
Q12 = df.select_dtypes(include='object').columns
# Q12 = df.select_dtypes(exclude='number').columns
Q12

Index(['ÏùºÏûê', 'ÏãúÎèÑÎ™Ö', 'ÏùçÎ©¥ÎèôÎ™Ö'], dtype='object')

In [73]:
# Q13. Í∞Å Ïª¨ÎüºÏùò Í≤∞Ï∏°Ïπò Ïà´ÏûêÎ•º ÌååÏïÖ
#-------------------------------------
Q13 = df.isna().sum()
Q13

id          0
ÏùºÏûê          0
ÏãúÎèÑÎ™Ö         0
ÏùçÎ©¥ÎèôÎ™Ö        0
Í±∞Ï£ºÏù∏Íµ¨        0
Í∑ºÎ¨¥Ïù∏Íµ¨        0
Î∞©Î¨∏Ïù∏Íµ¨        0
Ï¥ù Ïú†ÎèôÏù∏Íµ¨      0
ÌèâÍ∑† ÏÜçÎèÑ       0
ÌèâÍ∑† ÏÜåÏöî ÏãúÍ∞Ñ    0
ÌèâÍ∑† Í∏∞Ïò®       0
ÏùºÍ∞ïÏàòÎüâ        0
ÌèâÍ∑† ÌíçÏÜç       0
dtype: int64

In [74]:
# Q14.Îç∞Ïù¥ÌÑ∞Ïùò Í∞ÑÎûµ Ï†ïÎ≥¥ ÌôïÏù∏(Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞Ïàò, Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ)
#-------------------------------------
Q14 = df.info()
Q14

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   ÏùºÏûê        9621 non-null   object
 2   ÏãúÎèÑÎ™Ö       9621 non-null   object
 3   ÏùçÎ©¥ÎèôÎ™Ö      9621 non-null   object
 4   Í±∞Ï£ºÏù∏Íµ¨      9621 non-null   float64
 5   Í∑ºÎ¨¥Ïù∏Íµ¨      9621 non-null   float64
 6   Î∞©Î¨∏Ïù∏Íµ¨      9621 non-null   float64
 7   Ï¥ù Ïú†ÎèôÏù∏Íµ¨    9621 non-null   float64
 8   ÌèâÍ∑† ÏÜçÎèÑ     9621 non-null   float64
 9   ÌèâÍ∑† ÏÜåÏöî ÏãúÍ∞Ñ  9621 non-null   float64
 10  ÌèâÍ∑† Í∏∞Ïò®     9621 non-null   float64
 11  ÏùºÍ∞ïÏàòÎüâ      9621 non-null   float64
 12  ÌèâÍ∑† ÌíçÏÜç     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [75]:
# Q15. Í∞Å ÏàòÏπòÌòï Î≥ÄÏàòÏùò Î∂ÑÌè¨(ÏÇ¨Î∂ÑÏúÑ, ÌèâÍ∑†, ÌëúÏ§ÄÌé∏Ï∞®, ÏµúÎåÄ , ÏµúÏÜå)Î•º ÌôïÏù∏
#-------------------------------------
Q15 = df.describe()
Q15

,id,Í±∞Ï£ºÏù∏Íµ¨,Í∑ºÎ¨¥Ïù∏Íµ¨,Î∞©Î¨∏Ïù∏Íµ¨,Ï¥ù Ïú†ÎèôÏù∏Íµ¨,ÌèâÍ∑† ÏÜçÎèÑ,ÌèâÍ∑† ÏÜåÏöî ÏãúÍ∞Ñ,ÌèâÍ∑† Í∏∞Ïò®,ÏùºÍ∞ïÏàòÎüâ,ÌèâÍ∑† ÌíçÏÜç
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

In [77]:
# Q16. Í±∞Ï£ºÏù∏Íµ¨ Ïª¨ÎüºÏùò Í∞íÎì§ÏùÑ Ï∂úÎ†•
#-------------------------------------
Q16 = df['Í±∞Ï£ºÏù∏Íµ¨']
Q16

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: Í±∞Ï£ºÏù∏Íµ¨, Length: 9621, dtype: float64

In [82]:
# Q17. ÌèâÍ∑† ÏÜçÎèÑ Ïª¨ÎüºÏùò 4Î∂ÑÏúÑ Î≤îÏúÑ(IQR) Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº
#-------------------------------------
IQR = df['ÌèâÍ∑† ÏÜçÎèÑ'].quantile(0.75) - df['ÌèâÍ∑† ÏÜçÎèÑ'].quantile(0.25)
Q17 = round(IQR,2)
Q17

14.85

In [83]:
# Q18. ÏùçÎ©¥ÎèôÎ™Ö Ïª¨ÎüºÏùò Ïú†ÏùºÍ∞í Í∞ØÏàòÎ•º Ï∂úÎ†•
#-------------------------------------
Q18 = df['ÏùçÎ©¥ÎèôÎ™Ö'].nunique()
Q18

41

In [85]:
# Q19. ÏùçÎ©¥ÎèôÎ™Ö Ïª¨ÎüºÏùò Ïú†ÏùºÍ∞íÏùÑ Î™®Îëê Ï∂úÎ†•
#-------------------------------------
Q19 = df['ÏùçÎ©¥ÎèôÎ™Ö'].unique()
Q19

array(['ÎèÑÎëêÎèô', 'Ïô∏ÎèÑÎèô', 'Ïù¥ÎèÑ2Îèô', 'ÏùºÎèÑ1Îèô', 'ÎåÄÏ≤úÎèô', 'ÏÑúÌôçÎèô', 'ÌïúÍ≤ΩÎ©¥', 'ÏÜ°ÏÇ∞Îèô', 'Ï°∞Ï≤úÏùç',
       'ÏùºÎèÑ2Îèô', 'ÏòÅÏ≤úÎèô', 'ÏòàÎûòÎèô', 'ÎåÄÎ•úÎèô', 'ÏÇºÎèÑ1Îèô', 'Ïù¥Ìò∏Îèô', 'Í±¥ÏûÖÎèô', 'Ï§ëÏïôÎèô', 'ÏÇºÏñëÎèô',
       'ÏÇºÎèÑ2Îèô', 'Ïù¥ÎèÑ1Îèô', 'ÎÇ®ÏõêÏùç', 'ÎåÄÏ†ïÏùç', 'Ï†ïÎ∞©Îèô', 'Ìö®ÎèàÎèô', 'ÏïÑÎùºÎèô', 'ÌïúÎ¶ºÏùç', 'Íµ¨Ï¢åÏùç',
       'Ïö©Îã¥1Îèô', 'Ïò§ÎùºÎèô', 'ÌôîÎ∂ÅÎèô', 'Ïó∞Îèô', 'ÌëúÏÑ†Î©¥', 'Ï§ëÎ¨∏Îèô', 'ÏÑ±ÏÇ∞Ïùç', 'ÏïàÎçïÎ©¥', 'Ï≤úÏßÄÎèô',
       'ÎÖ∏ÌòïÎèô', 'ÎèôÌôçÎèô', 'Ïö©Îã¥2Îèô', 'Î¥âÍ∞úÎèô', 'Ïï†ÏõîÏùç'], dtype=object)

In [ ]:
# Q
#-------------------------------------
Q0

0